<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.statisticapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListOfMatches"></activity>
        <activity android:name=".ListOfPlayers" />
        <activity android:name=".EditPlayer" />
        <activity android:name=".AddPlayerStats" />
        <activity android:name=".AddMatch" />
        <activity android:name=".AddTraining" />
        <activity android:name=".AddPlayerProgress" />
        <activity android:name=".AddPlayer" />
        <activity android:name=".CoachPanel" />
        <activity android:name=".AssistantPanel" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>